<section id="download" class="vh-100 dt bg-near-white near-black w-100">
  <div class="dtc v-mid center measure tc">
    <h2 class="f1 f-headline-ns">{{site.title}}</h2>
    <p class="f4 f2-ns">You Might Not Need Bootstrap!</p>
    <!-- <div>
      <a class="dib mb4 mb0-ns" href="{{site.ios_store_link}}"><img style="height: 60px;" src="img/google-play-badge.svg" alt=""></a>
      <a class="dib mb4 mb0-ns" href="{{site.android_store_link}}"><img style="height: 60px;" src="img/app-store-badge.svg" alt=""></a>
    </div> -->
  </div>
</section>
